@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

:root {
    --primary: #002360;
    --secondary: #66FF99;
}

h1, h2 {
    width: fit-content;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu';
}

body {
    font-family: 'Josefin Sans';
    line-height: 1;
	background: '#EBEBF0';
}

.font-dl-primary {
    color: var(--primary)
}

.font-dl-secondary {
    color: var(--secondary)
}

.bg-dl-primary{ 
	background-color: var(--primary);
}

.bg-dl-secondary{ 
	background-color: var(--secondary);
}

.text-box {
    color: var(--primary);
    box-shadow: inset 0px -14px 0px 0px var(--secondary);
    padding-right: 5%;
}

